<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Filmotype-Jade.otf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>In order to take a photo to add to your post, we need to access your camera.</string>
</dict>
</plist>
